bin/**/*
bin/*
*.classpath
*.project
.settings/*
management/Thumbs.db
icons/Thumbs.db
Videothek.log
quittungen/*
mahnungen/*
mahnungen/quittungen/*
build/*
build.xml
manifest.mf
nbproject/*
data/*
doc/screenshots/Thumbs.db
doc/V-Unit Manual/V-Unit Manual-Dateien/Thumbs.db
UML/Thumbs.db